/* ─── TOP BAR ─── */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: var(--topbar-h);
  background: var(--white);
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.3s;

}

.top-bar.scrolled { box-shadow: 0 1px 8px rgba(148, 91, 91, 0.08); }

.top-bar-left {
  width: 10%;
  min-width: 90px;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-shrink: 1;
}

.top-bar-center {
  text-align: center;
  max-height: 20px;
  width: 50%;
  min-width: 250px;
  
}
.top-bar-right {
  width: 10%;
}



.top-bar-tagline {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  color: var(--black);
  text-transform: uppercase;
}

.top-bar-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: var(--black);
  text-transform: uppercase;
  padding: 4px 8px;
  transition: opacity 0.2s;
  
}

.top-bar-btn:hover { opacity: 0.6; }

/* ─── MAIN NAV ─── */
.main-nav {
  position: fixed;
  top: var(--topbar-h);
  left: 0;
  right: 0;
  z-index: 999;
  height: var(--nav-h);
  background:#423C39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  transition: box-shadow 0.3s;
}

.main-nav.scrolled { box-shadow: 0 4px 20px rgba(0,0,0,0.3); }

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 32px;
  flex: 1; /*Вона встановлює значення flex-grow: 1, flex-shrink: 1 та flex-basis: 0, що дозволяє елементам рівномірно ділити простір */
}

.nav-right { justify-content: flex-end; }

.nav-link {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  transition: color 0.2s;
  position: relative;
}

@media (max-width: 780px) {
  #nav-link2 {
    display: none;
  }
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
  transform: scaleX(0);
  transition: transform 0.3s;
}

.nav-link:hover { color: var(--white); }
.nav-link:hover::after { transform: scaleX(1); }

.nav-logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  -webkit-tap-highlight-color: transparent;
}



.logo-image {
  height: clamp(4.8rem, 5vw, 6rem);
  width: auto;
  display: block;
  
}



.nav-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255,255,255,0.7);
  position: relative;
  padding: 6px;
  transition: color 0.2s;
  display: flex;
  align-items: center;
}

.icon-btn:hover { color: var(--white); }

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--accent);
  color: var(--black);
  font-size: 9px;
  font-weight: 700;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}