.product-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.product-card {
  background: var(--white);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card:hover { transform: translateY(-6px); }

.product-img-wrap {
  position: relative;
  aspect-ratio: 4/5;
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.product-card:hover .product-img { transform: scale(1.04); }

.product-tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background: var(--black);
  color: var(--white);
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 4px 10px;
}

.like-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(255,255,255,0.9);
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  transition: background 0.2s, transform 0.2s;
}

.like-btn:hover { transform: scale(1.1); }
.like-btn.liked { color: #110707a9; }


.product-info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
}

.product-title-row-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  gap: 4rem;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.product-name {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price-card {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black);
  margin: 0;
  margin-left: auto;
  flex-shrink: 0;
}